*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card img{
    object-fit: contain;
    width: 100%;
}

.card-body {
    padding: 4px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.card-title {
    flex-grow: 1;
}

.card-text {
    margin-top: auto;
    font-weight: bold;
    color: green;
}
